apiVersion: v1
kind: Service
metadata:
  name: {{ include "skylink.fullname" . }}-gateway
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "skylink.labels" . | nindent 4 }}
    app.kubernetes.io/component: gateway
  {{- if .Values.monitoring.enabled }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
  {{- end }}
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "skylink.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: gateway
